body {
    font-family: 'Roboto Mono', 'Arial', monospace;
}

.print-doc {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.preview__item {
    font-weight: bolder;
}

.preview__name {
    font-size: 26px;
    text-align: center;
}

.preview__buttons {
    display: none;
}

.preview__passport {
    margin-top: 80px;
    margin-bottom: 20px;
}

.preview__doctor {
    text-align: center;
    margin-top: 40px;
}
.preview {
    padding-top: 40px;
    padding-bottom: 80px;    
    width: 600px;
    margin: 0 auto;
    color: #000;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
}

p {
    margin: 0;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
}

.protocol__section {
    margin-top: 20px;
}
